/*######################*/
/*Feldarten*/
.wood{
    background-color: #6DC066;
}
.water{
    background-color: #5ea1d4;
}
.wheat{
    background-color: #FFC125;
}
.dirt{
    background-color: #F6E9CA;
}
