body{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    position: relative;
    background-color: white;
}
button{
    border:none;
    padding: 5px 10px;
    cursor: pointer;
}
button:focus{
    outline:0;
}
/*#################################################*/
/*Var*/
:root {
    --menu-color-1: #D3D3D3;
    --menu-color-2: #bdbdbd;
    --menu-color-3: #939393;
}
/*#################################################*/
/*Menu*/
#menu_top{
    width: 100%;
    height: 50px;
    z-index: 50;
    left:0px;
    top:0px;
    position: absolute;
    background-color: var(--menu-color-1);
}
.menu_top_button{
    width: auto;
    height: 50px;
    min-width: 50px;
    box-sizing: border-box;
    float: right;
    color: var(--menu-color-3);
    background-color: var(--menu-color-1);
}
.menu_top_button:hover{
    background-color: var(--menu-color-2);
}
.menu_top_button_spacer{
    height: 40px;
    margin:5px 0;
    width: 1px;
    background-color: var(--menu-color-3);
    float: right;
}
#menu_side{
    background-color: var(--menu-color-1);
    height: 100%;
    position: absolute;
    width: 50px;
    z-index: 50;
    left:0px;
    top:50px;
}
.menu_side_sec{
    width: 100%;
    height: 100%;
    background-color: red;
    visibility: hidden;
}
/*#################################################*/
/*Map*/
#mapcont{
    height: 100%;
    width: 100%;
    z-index: 30;
    position: absolute;
    left:0px;
    top:0px;
}
#mapcont_rel{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
#map_abs {
    position: absolute;
    width: 5000px;
    height: 5000px;
    top:0px;
    left: 0px;
    margin: 0;
    padding: 0;
}
#map{
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    position: relative;
    /*background-color: black;*/
}
/*#################################################*/
/*Feld*/
.map_field {
    margin: 0px 0px 0px 0px;
    float: left;
    background-size: cover;
    position: absolute;
    z-index: 30;
}
.map_field_rel{
    margin:0;
    padding: 0;
    position: relative;
    overflow: visible;
}
.hex{
    position: absolute;
}
.hex:hover{
    background-color: red;
}
.hex_1{
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}
.hex_2{
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.hex_3{
    -ms-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
}






