.testWrap{
    background-color: black;
    width: 200px;
    height: 115.47px;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: visible;
    margin: 100px;
}
.hex{
    position: absolute;
    background-color: red;
    width: 115.47px;
    height:200px;
    margin:0 42.265px;
    top: -42.265px;
}
.hex_1{
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}
.hex_2{
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.hex_3{
    -ms-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
}